.wrapper{
    position: fixed;
    width: 35px;
    height: 50%;
    top: calc(-50vw + 50%);
    bottom: calc(-50vw + 50%);
    margin-top: auto;
    margin-bottom: auto;
    /*left: 5px;*/
    right: 5px;
    /*background-color: cyan;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*border-left: 1px solid rgb(0, 255, 255);*/
}
.container{

}
.link{
    /*opacity: 0.3;*/
    width: 20px;
    height: 20px;
    color: cyan;
    transform: scale(1);
    transition: transform 0.6s;
}
.link:hover{
    /*opacity: 0.3;*/
    width: 20px;
    height: 20px;
    color: cyan;
    transform: scale(1.2);
    transition: transform 0.6s;
}
