.wrapper{
    position: fixed;
    width: 500px;
    height: 60px;
    background-color: rgba(215, 213, 213, 0.27);
    bottom: 15px;
    left:50%;
    margin-left: -250px;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    filter: drop-shadow(1px 10px 3px #000);
}

.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    animation: myAnim 1s ease 1s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-250px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}
.link {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: white;
    transform: scale(1);
    transition: transform 0.8s;

}
.active {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #0bdfdd;
    transform: scale(1);
    transition: transform 0.8s;
}
.link:hover {
    background-color: #0af4be;
    transform: scale(1.2);
    transition: transform 0.8s;
}
.active:hover {
    background-color: #0af4be;
    transform: scale(1.2);
    transition: transform 0.8s;
}