.wrapper{
    position: fixed;
    width: 50%;
    height: 60px;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(255, 254, 254, 0.74);*/
    bottom: 15px;
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    /*margin-left: -250px;*/
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    /*filter: drop-shadow(1px 7px 5px rgba(44, 80, 211, 0.91));*/

    box-shadow: -4px -2px 32px -10px rgb(153, 235, 243) inset;
    /*filter: drop-shadow(1px 7px 5px rgba(255, 255, 255, 0.91));*/
    animation: myAnim 3s ease 0s 1 normal forwards;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;

}
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-90vh);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}
/*.icon{
    width: 40px;
    height: 40px;
    color: cyan;
}*/
.link{
    width: 40px;
    height: 40px;
}
.link .icon{
    display: inline-block;
    text-align: center;
    /*border-radius: 50%;*/
    width: 40px;
    height: 40px;
    text-decoration: none;
    /*background-color: white;*/
    color: cyan;
    transform: scale(1);
    transition: transform 0.6s;
    /*box-shadow: -4px -2px 32px -12px rgb(59, 122, 222) inset;*/
}

.active .icon{
    display: inline-block;
    text-align: center;
    /*border-radius: 50%;*/
    width: 40px;
    height: 40px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.6s;
    color: #08f50c;
    /*box-shadow: -4px -2px 32px -12px rgb(7, 208, 227) inset;*/
    /*box-shadow: inset 17px 17px 34px 10px rgba(0, 0, 0, 0.3), inset -17px -17px 34px -17px rgba(255, 255, 255, 0.3);*/
}
.link:hover {
    /*background-color: #0af4be;*/
    /*background-color: #f7f5f3;*/
    transform: scale(1.2);
    transition: transform 0.6s;
    /*box-shadow: -4px -2px 32px -12px rgb(59, 122, 222) inset;*/
}
.active:hover {
    /*background-color: #17a19e;*/
    transform: scale(1.2);
    transition: transform 0.6s;


    /*box-shadow: -4px -2px 32px -12px rgb(7, 208, 227) inset;*/
    /*box-shadow: inset 17px 17px 34px rgba(0, 0, 0, 0.3), inset -17px -17px 34px rgba(255, 255, 255, 0.3);*/
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
        height: 55px;
    }
    /*.link{
        width: 35px;
        height: 35px;
    }*/
}
@media screen and (max-width: 320px) {
    .wrapper {
        width: 90%;
        height: 50px;
    }
    .link{
        width: 35px;
        height: 35px;
    }
    .active{
        width: 35px;
        height: 35px;
        transform: scale(1.04);
        transition: transform 0.6s;
    }
    .link:hover{
        transform: scale(1.1);
        transition: transform 0.6s;
    }
    .active:hover{
        transform: scale(1.1);
        transition: transform 0.6s;
    }
}